@charset "utf-8";
/* CSS Document */
@font-face{
font-family:"GuidaRegularPro";
src: url(../fonts/guida-regular-pro.otf) format("opentype");
}	
@font-face{
font-family:"GuidaBoldPro";
src: url("../fonts/guida-bold-pro.otf");	
}

/***************************************************************************************************/
/*    Colors                                                                             */
/***************************************************************************************************/

.green{
	color:#00e100;
}

.pink {
	color: #FF18B9;
}

.blue {
	color:rgba(93,37,208,1.00);
}

.white{
	color:#ffffff;
}

/***************************************************************************************************/
/*    text stuff                                                                              */
/***************************************************************************************************/
@media screen and (min-width: 600px) {
.doubleForward{
	font-size: 3vw;
    position: relative;
    top: 0.2vw;
	left:0.6vw;
}
.buttonSpace{
	position: relative;
	bottom: 0.75vw;
}
.buttonBorder{
	border-width:1vw;
}
}
@media screen and (max-width: 600px) {
	.doubleForward{
	font-size: 15vw;
    position: relative;
    top: 1.27vw;
	left:2.6vw;
}
.buttonSpace{
	position: relative;
	bottom: 3.67vw;
}
.buttonBorder{
	border-width:1vw;
}
}
.textbold{
	font-family: GuidaBoldPro;
	font-feature-settings: "ss01";
}

.text {
	font-family: GuidaRegularPro;
	font-feature-settings: "ss01";
}

/***************************************************************************************************/
/*    Top                                                                              */
/***************************************************************************************************/
.fullWidth{
	width:100%;
}

.greenTop {
	border-top: 1.4vw solid #00e100;
}

/***************************************************************************************************/
/*    Navigation Menu                                                                              */
/***************************************************************************************************/
.mobilenav{
	margin-top:0vw;
}

.navTop{
	margin-left: 12vw;
	margin-top:4vw;
}
a {
	text-decoration:none;
	color:inherit;
}


/*mobile nav */
@media screen and (max-width: 600px) {
	.greenTop{
	border-top-width:5vw;
}
.navTop{
	display:none;
}

.navTwitter{
	position: relative;
    top: 4vw;
	left:3vw;
	width: 8vw;
	height: 8vw;
	background-image:url('../img/TwitterGreenLogo.png');
	background-size: contain;
    background-repeat: no-repeat;
}
.navTwitter:hover{
	background-image:url('../img/TwitterPinkLogo.png');
}
.logoTop {
	position: relative;
    top: 1vw;
    top: 1vw;
	left: 12vw;
	width: 30vw;
	height: 10vw;
	background-image:url('../img/SwopblockGreenLogo.png');
	background-size: contain;
    background-repeat: no-repeat;
	cursor:pointer;
	float:left;
}
.logoTop:hover {
	background-image:url('../img/SwopblockPinkLogo.png');
	float:left;
}

.mainDesktop{
	display:none;
}

.mainMobile{
	display:block;
	height: 650vw;
	margin-top: 124vw;
}

.MobileFloatCont{
	margin-top: 103vw;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.MobileFloatTitle{
	font-size: 11vw;
}
.MobileFloatText{
	font-size: 5.2vw;
}
}

@media screen and (min-width: 600px) {
	.navTwitter{
	position: relative;
    top: 0.35vw;
	margin-top: 1.6vw;
	width: 1.6vw;
	height: 1.6vw;
	background-image:url('../img/TwitterGreenLogo.png');
	background-size: contain;
    background-repeat: no-repeat;
}
.navTwitter:hover{
	background-image:url('../img/TwitterPinkLogo.png');
}
.logoTop {
	position: relative;
    top: 0vw;
	width: 12vw;
	height: 4vw;
	background-image:url('../img/SwopblockGreenLogo.png');
	background-size: contain;
    background-repeat: no-repeat;
	cursor:pointer;
	float:left;
}
.logoTop:hover {
	background-image:url('../img/SwopblockPinkLogo.png');
	float:left;
}
.mainDesktop{
	display:block;
}
.mainMobile{
	display:none;
	height: 0vw;
}
}
.navBar{
	height:4vw;
	margin-left:19vw;
	color: color(display-p3 1 0.5 0);
	color:#00e100;
}
.navLink{
	display:inline-block;
	margin-left: 1.6vw;
	margin-right: 1.6vw;
	margin-top:0.4vw;
	font-size:1.4vw;
	cursor:pointer;
	font-family: GuidaBoldPro;
}
.navLink:hover{
	
	color: rgba(255,0,188,1.00);
	color: #FF18B9;
}

.navBorder{
	color: rgba(255,0,188,1.00);
	color: #FF18B9;
	border: 0.2vw solid #FF18B9;
	padding:0.5vw 2vw 0.5vw 2vw;
}
.navBorder:hover{
	color: color(display-p3 1 0.5 0);
	color:#00e100;
	border: 0.2vw solid #00e100;
	padding:0.5vw 2vw 0.5vw 2vw;
}


/***************************************************************************************************/
/*    Visual Body                                                                                  */
/***************************************************************************************************/

.floatDude{
	margin-top: 12vw;
}
.visualDiv {
	height:auto;
}

.visualFloatStream {
	height:62vw;
	/*background-image: url('../img/TuberDude.jpg');*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.leftFloatDiv{
	margin-left: 12vw;
}
.leftFloatTitle {
	padding-top:12vw;
	font-family: GuidaBoldPro;
	font-size: 4.5vw;
	line-height: 1.05;
	font-feature-settings: "ss01";
}

.leftFloatText {
	padding-top:1vw;
	font-family: GuidaRegularPro;
	font-size: 1.7vw;
}

.leftFloatButton{
	color: color(display-p3 1 0.5 0);
    color: #00e100;
    border: 0.4vw solid #00e100;
    padding: 1vw 2.5vw 1vw 2.5vw;
	width:16vw;
	font-family: GuidaBoldPro;
	font-size: 2.5vw;
	cursor:pointer;
	font-feature-settings: "ss01";
}
.leftFloatButton:hover{
	background-color:color: color(display-p3 1 0.5 0);
	background-color:#00e100;
	color:#ffffff;
}

.handshakeCenter{
	height:70vw;
	/*background-image: url('../img/Handshake.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-width: 600px) {
.handshakeTitle{
	font-family: GuidaBoldPro;
	line-height: 1.05;
	font-size: 4.5vw;
	font-feature-settings: "ss01";
}

.handshakeText{
	padding-top:1vw;
	font-family: GuidaRegularPro;
	font-size: 1.7vw;
}
.buttonSpec{
	width: 14vw; 
	margin:auto;
	margin-top: 3vw;
}
}
@media screen and (max-width: 600px) {
	
	.leftFloatTitle {
	padding-top:26vw;
	font-family: GuidaBoldPro;
	line-height: 1.05;
	font-size: 4.5vw;
	font-feature-settings: "ss01";
}
	.handshakeTitle{
	font-family: GuidaBoldPro;
	line-height: 1.05;
	font-size: 9.5vw;
	font-feature-settings: "ss01";
}

.handshakeText{
	padding-top:1vw;
	font-family: GuidaRegularPro;
	font-size: 7vw;
}
.buttonSpec{
	width: 55vw; 
	margin:auto;
	margin-top: 3vw;
	font-size: 7vw!important;
	border-width: 1vw!important;
	padding: 0vw 4vw 0.5vw 4vw;
}
}

.handshakeDiv{
	padding-top:3vw;
	text-align:center;
}

.poolsLeft{
	height:56vw;
	/*background-image: url('../img/Pools.jpg');*/
    background-repeat: no-repeat;
    background-position: left;
	background-size: 55vw;
}

.poolsDiv{
	margin-right: 12vw;
	float:right;
	width: 30vw;
}
.poolsTitle{
	font-family: GuidaBoldPro;
	font-size: 4.5vw;
	font-feature-settings: "ss01";
}
.poolsText{
	padding-top:2vw;
	font-family: GuidaRegularPro;
	font-size: 1.7vw;
}

.joinRight{
	height:49vw;
	/*background-image: url('../img/Stream.jpg');*/
    background-repeat: no-repeat;
    background-position: right;
	background-size: 55vw;
}

.joinDiv{
	margin-left: 12vw;
	float:left;
	width: 40vw;
}
.joinTitle{
	font-family: GuidaBoldPro;
	font-size: 4.5vw;
	font-feature-settings: "ss01";
}
.joinText{
	padding-top:2vw;
	font-family: GuidaRegularPro;
	font-size: 1.7vw;
}
.leftButton{
    border: 0.4vw solid rgba(93,37,208,1.00);
	color:rgba(93,37,208,1.00);
    padding: 1vw 2.5vw 1vw 2.5vw;
	width:16vw;
	font-family: GuidaBoldPro;
	font-size: 2.5vw;
	font-feature-settings: "ss01";
	cursor:pointer;
}
.leftButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}

/* green block */
@media screen and (min-width: 600px) {
.greenBlock{
		height:65vw;
	}
.greenLeft{
	display:inline-block;
	height:58vw;
	width:50%;
	background-color:rgba(0,221,0,1.00);
	float:left;
}

.greenRight{
	display:inline-block;
	height:58vw;
	width:50%;
	width:50%;
	background-color:rgba(146,255,0,1.00);
	float:right;
}
.imgGreen{
width:18vw;
}
}

@media screen and (max-width: 600px) {
	
	.greenBlock{
		height:350vw;
	}
	.greenLeft{
	display:inline-block;
	height:175vw;
	width:100%;
	background-color:rgba(0,221,0,1.00);
	float:left;
}

.greenRight{
	display:inline-block;
	height:175vw;
	width:100%;
	background-color:rgba(146,255,0,1.00);
	float:right;
}
.imgGreen{
width:60vw;
}
}

@media screen and (max-width: 600px) {
	#EmailSignUp {
	display: block;
    height: 10.7vw;
    margin-right: auto;
	margin-left:auto;
	margin-bottom:4vw;
    z-index: 20;
    color: rgba(255,229,0,1.00);
    font-family: "GuidaBoldPro";
    font-size: 5vw;
    border-width: 0.3vw;
    border-style: solid;
    border-color: rgba(255,229,0,1.00);
    box-sizing: border-box;
    padding: 6vw;
    position: relative;
    top: 0.1vw;
}

#EmailSignUpButton {
	display: block;
    margin: auto;
    height: 14vw;
    border-style: solid;
    border-width: 0.3vw;
    border-color: rgba(93,37,208,1.00);
    color: rgba(93,37,208,1.00);
    font-family: "GuidaBoldPro";
    font-size: 6.4vw;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    right: 1vw;
    z-index: 100;
}
#CopyrightBox {
    width: 60vw;
    height: 30vw;
    font-size: 6vw;
    color: rgba(0,221,0,1.00);
	text-align:center;
	margin:auto;
}
}

@media screen and (min-width: 600px) {
/* sign up email */
#EmailSignUp {
    width: 36vw;
    height: 4.7vw;
    z-index: 20;
    color: rgba(255,229,0,1.00);
    font-family: "GuidaBoldPro";
    font-size: 1.8vw;
    border-width: 0.3vw;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: none;
    border-color: rgba(255,229,0,1.00);
    box-sizing: border-box;
    padding: 0.9vw 0.9vw 0.9vw 3.5vw;
	position: relative;
    top: -0.45vw;
}

#EmailSignUpButton {
	display:inline-block;
    width: 14.3vw;
    height: 4.7vw;
    border-style: solid;
    border-width: 0.3vw;
    border-color: rgba(93,37,208,1.00);
    color: rgba(93,37,208,1.00);
    font-family: "GuidaBoldPro";
    font-size: 1.8vw;
    text-align: center;
    box-sizing: border-box;
    padding: 0.9vw;
    cursor: pointer;
	position: relative;
    right: 1vw;
	z-index:100;
}
#CopyrightBox {
    width: 30vw;
    height: 5vw;
    font-size: 1.6vw;
    color: rgba(0,221,0,1.00);
	text-align:center;
	margin:auto;
}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,229,0,1.00);;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,229,0,1.00);;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,229,0,1.00);;
}

/***************************************************************************************************/
/*    Contact Page                                                                               */
/***************************************************************************************************/
@media screen and (min-width: 600px) {
.contactDiv{
	display:flex;
	margin-top:8vw;
	margin-bottom:8vw;
}

.contactCenter{
	margin: auto;
    text-align: left;
    width: 61%;
}

.contactProfile{
	width: 20vw;
	height:20vw;
}
.contactTitle{
	border-bottom: 0.3vw solid rgba(93,37,208,1.00);
	font-family: GuidaBoldPro;
	font-size: 1.5vw;
	padding-bottom: 0.4vw;
	width: 15vw;
	font-feature-settings: "ss01";
}
.contactImg
{
	margin-top:2vw;
	border-radius:4vw;
	width:4.4vw;
	height:4.4vw;
}

.contactTopText
{
	margin-top:2vw;
}
.contactTextCont{
	padding:0.6vw;
	font-size: 1.2vw;
}
}
@media screen and (max-width: 600px) {
	.contactDiv{
	display:inline-block;
	margin-top:22vw;
	margin-bottom:8vw;
}

.contactCenter{
	margin: auto;
    text-align: left;
    width: 70%;
}

.contactProfile{
	width: 100%;
    height: 80vw;
}
.contactTitle{
	border-bottom: 1vw solid rgba(93,37,208,1.00);
	font-family: GuidaBoldPro;
	font-size: 7.5vw;
	padding-bottom: 5vw;
	width: 100%;
	font-feature-settings: "ss01";
}
.contactImg
{
	margin-top:2vw;
	border-radius:33vw;
	width:32vw;
	height:32vw;
}

.contactTopText
{
	margin-top:5vw;
}
.contactTextCont{
	padding:3.6vw;
	font-size:5.2vw;
}
}

.contactButton{
	text-align:center;
    border: 0.3vw solid rgba(93,37,208,1.00);
	color:rgba(93,37,208,1.00);
    padding: 1vw 1.5vw 1vw 1.5vw;
	width:100%;
	font-family: GuidaBoldPro;
	font-size: 1.5vw;
	font-feature-settings: "ss01";
	cursor:pointer;
}
.contactButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}
@media screen and (min-width: 600px) {
.arrowButton{
	text-align:center;
    border: 0.3vw solid rgba(93,37,208,1.00);
	color:rgba(93,37,208,1.00);
	font-family: GuidaBoldPro;
	font-size: 1.5vw;
	font-feature-settings: "ss01";
	cursor:pointer;
}
.arrowButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}

.regButton{
	display:inline-block;
    width: 14.3vw;
    height: 4.7vw;
    border-style: solid;
    border-width: 0.3vw;
    border-color: rgba(93,37,208,1.00);
    color: rgba(93,37,208,1.00);
    font-family: "GuidaBoldPro";
    font-size: 1.8vw;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5vw;
    cursor: pointer;
	position: relative;
    right: 1vw;
	z-index:100;
}
.regButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}

.updateText{
	width:100%;
}


}
@media screen and (max-width: 600px) {
	.arrowButton{
	text-align:center;
    border: 0.3vw solid rgba(93,37,208,1.00);
	color:rgba(93,37,208,1.00);
	font-family: GuidaBoldPro;
	font-size: 1.5vw;
	font-feature-settings: "ss01";
	cursor:pointer;
}
.arrowButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}
.regButton{
	text-align:center;
    border: 0.3vw solid rgba(93,37,208,1.00);
	color:rgba(93,37,208,1.00);
	font-family: GuidaBoldPro;
	font-size: 1.5vw;
	padding-top: 8vw;
    padding-bottom: 2vw;
	font-feature-settings: "ss01";
	cursor:pointer;
}
.regButton:hover{
	background-color:rgba(93,37,208,1.00);
	color:#ffffff;
}
.updateText{
	width:50vw;
	margin:auto;
	padding-bottom:4vw;
}
}

/***************************************************************************************************/
/*    Technology Page                                                                               */
/***************************************************************************************************/
@media screen and (min-width: 600px) {
.techBack
{
	background-image:url('../img/Swopblock2023.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	height:234vw;
}
.homeBack
{
	background-image:url('../img/home-desktop.jpg');
	background-repeat:no-repeat;
	background-size:contain;
}
.techTextRight{
	float:right;
	width: 36vw;
    margin-right: 12vw;
}
.techTextTwo{

	width:52vw;
	margin-left:14vw;
}
.techDesktop{
	display:block;
}
.techMobile{
	display:none;
}

.signUpDiv{
	text-align:center;
	padding-top:4vw;
	padding-bottom:4vw;
}
}

@media screen and (max-width: 600px) {
	.techBack
{
	background-image:url('../img/Swopblock2023mobile.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	height: 684vw;
	background-position-y: 10vw;
}

.homeBack
{
	background-image:url('../img/home-mobile.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position-y: 5vw;
}

.signUpDiv{
	text-align:center;
	padding-top:30vw;
	padding-bottom:30vw;
}

.techDesktop{
	display:none;
}
.techMobile{
	width:80%;
	margin:auto;
	display:block;
}

.leftFloatTitle{
	font-size: 11vw;
}
.techTextTwo{
	width:100%;
}
.leftFloatText{
	font-size:4vw;
}
}

/***************************************************************************************************/
/*    Mission Page                                                                               */
/***************************************************************************************************/
@media screen and (min-width: 600px) {
.missionStatement{
	font-size: 3vw;
    font-family: 'GuidaBoldPro';
    width: 61%;
    margin: auto;
    text-align: center;
    padding:7vw 2vw 0vw 2vw;
    height: 15vw;
}

.missionTitle{
	margin:auto; 
	width:35vw;
	font-family: GuidaBoldPro;
	font-size: 3vw;
	text-align:center;
	padding-bottom: 0.4vw;
	font-feature-settings: "ss01";
}

.missionLeadership{
	width:61%;
	margin:auto;
}

.missionProTitle{
	padding-bottom:1vw;
	font-size:1.4vw;
}
.missionProText{
	height: 12vw;
}
.missionProfileRight{
	float:right;
	width:50%;
}
.missionProfileLeft{
	float:left;
	width:50%;
}

.missionPic{
	max-width:23vw;
	margin:auto;
}

.missionReview{
	font-family: 'GuidaBoldPro';
    width: 61%;
    margin: auto;
}

.ReviewCont{
	display:none;
}

.mReviewText{
	text-align:center;
	padding:1vw;
	font-size:1.4vw;
}

.mReviewTop{
	display:flex;
	margin:auto;
}

.mReviewPic{
	padding:2vw 3vw 0vw 3vw;
}

.missionWave{
	width:10vw;
	margin:auto;
}

}
@media screen and (max-width: 600px) {
	
.missionStatement{
	font-size: 8.5vw;
    font-family: 'GuidaBoldPro';
    width: 85%;
    margin: auto;
    text-align: left;
    padding:35vw 2vw 0vw 2vw;
    height: 75vw;
}

.missionTitle{
	margin:auto; 
	width:35vw;
	font-family: GuidaBoldPro;
	font-size: 6.5vw;
	text-align:center;
	padding-bottom: 0.4vw;
	font-feature-settings: "ss01";
}

.missionWave{
	width:30vw;
	margin:auto;
}

.missionLeadership{
	margin:auto;
}

.missionProTitle{
	padding-bottom:1vw;
	font-size:1.4vw;
	
}
.missionProText{
	height: 12vw;
}
.missionProfileRight{
	display:inline-block;
	width:100%;
	height:auto;
}
.missionProfileLeft{
	display:inline-block;
	width:100%;
	height:auto;
}
.missionProTitle{
	padding-bottom:1vw;
	font-size:6.5vw;
}
.missionProText{
	height: 60vw;
	font-size:4.4vw;
}

.missionPic{
	margin:auto;
	width:80%
}
.missionReview{
	display:none;
}
.ReviewCont{
	display:block;
	width: 100%;
}
.mReviewBox{
	display:inline-block;
	width:100vw;
}
.mReviewText{
	text-align:center;
	padding:1vw;
	font-size:6.5vw;
	margin-bottom:8vw;
}

.mReviewTop{
	display:flex;
	margin:auto;
}

.mReviewPic{
	margin:auto;
	width:75%;
}


}

